**Purpose**

Processes Census data regarding Educational Attainment in the United States, which can be found [here](https://www.census.gov/data/tables/2022/demo/educational-attainment/cps-detailed-tables.html).

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
#click the "Files" icon in the left sidebar
#drag and drop the table files into the sidebar
#table files should have paths included in following vars

setOne = ['/content/table-1-1.xlsx', '/content/table-1-2.xlsx',
          '/content/table-1-3.xlsx', '/content/table-1-4.xlsx',
          '/content/table-1-5.xlsx', '/content/table-1-6.xlsx',
          '/content/table-1-7.xlsx', '/content/table-1-8.xlsx',
          '/content/table-1-9.xlsx']

setTwo = ['/content/table-2-1.xlsx', '/content/table-2-2.xlsx',
          '/content/table-2-3.xlsx']

setThree = ['/content/table-3.xlsx']

In [ ]:
#reads and cleans data from xlxs of Table 1.x
def process_tableOne(fileName: str) -> None:

  #extract data from excel file
  data = pd.read_excel(fileName, index_col=None, header=5)
  data.rename(columns = {'Unnamed: 0':'Ages'}, inplace = True)
  #remove tabs
  data['Ages'] = data['Ages'].map(lambda x: x.lstrip('\t').lstrip())

  data.set_index("Ages", inplace=True)

  data.drop(['18 years and over', '25 years and over', '75 years and over'],
            inplace=True)
  #divide data into separate dataframes based on sex
  both_df = data.iloc[1:12]
  male_df = data.iloc[13:24]
  female_df = data.iloc[25:36]

  dfs = [("both", both_df), ("male", male_df), ("female", female_df)]

  return dfs

def plotOne(dfs):
  #dfs = [("Both Sexes", both_df), ("Male", male_df), ("Female", female_df)]

  df1 = dfs[0][1]
  df2 = dfs[1][1]
  df3 = dfs[2][1]
  #get position of indices
  x_axis = np.arange(len(df1))


  fig = plt.figure(figsize =(20,15))

  #offset the position of each set of plots to group
  plt.bar(x_axis - .3, df1["Doctoral degree"], .3, color= 'blue',
          label="Male")
  plt.bar(x_axis, df2["Doctoral degree"], .3, color= 'green',
          label="Both")
  plt.bar(x_axis + .3, df3["Doctoral degree"], .3, color='red',
          label="Female")

  plt.xlabel("Ages")
  plt.legend()
  plt.xticks(x_axis, df2.index)
  plt.title("Individuals w/ Doctoral Degrees")
  plt.show()

In [ ]:
#reads and cleans data from xlxs of Table 3
def process_tableThree(fileName: str) -> None:
  data = pd.read_excel(fileName, index_col=None, header=5)

  #stores both levels of the headers as pairs
  headers = [("All people", "Number"),
        ("All people", "Percent"),
        ("Male", "Number"),
        ("Male", "Percent"),
        ("Female", "Number"),
        ("Female", "Percent"),
        ("25 to 34 years old", "Number"),
        ("25 to 34 years old", "Percent"),
        ("35 to 54 years old", "Number"),
        ("35 to 54 years old", "Percent"),
        ("55 years old and older", "Number"),
        ("55 years and older", "Percent"),
        ("White", "Number"),
        ("White", "Percent"),
        ("Non-Hispanic White", "Number"),
        ("Non-Hispanic White", "Percent"),
        ("Black", "Number"),
        ("Black", "Percent"),
        ("Asian", "Number"),
        ("Asian", "Percent"),
        ("Hispanic (of any race)", "Number"),
        ("Hispanic (of any race)", "Percent")
        ]
  #convert into data frame to add to data
  df = pd.DataFrame(headers)

  #extract data from excel file
  data = pd.read_excel(fileName, header=3, index_col=None)

  #concat the header with the data
  frames = [df, data]
  condf = pd.concat(frames)

  #get rid of uncessary columns and rows, set index
  condf = condf.drop(0, axis=1)
  condf = condf.iloc[24:]
  condf = condf.drop([1], axis=1)
  condf.set_index("Detailed years of school", inplace=True)

  #create multiindex header
  condf.columns = pd.MultiIndex.from_tuples(headers)
  condf.head()

  #split data by level of education received
  noDiploma = condf.iloc[1:9]
  ged = condf.iloc[10:18]
  diploma = condf.iloc[19:20]
  noDegree = condf.iloc[21:26]
  vocational = condf.iloc[27:32]
  academic = condf.iloc[33:38]
  bachelors = condf.iloc[39:43]

  dfs = [noDiploma, ged, diploma, noDegree, vocational, academic, bachelors]

In [ ]:
#reads and cleans data from xlxs of Table 2.x
def process_tableTwo(fileName: str) -> None:
  data = pd.read_excel(fileName, index_col=None, header=5)
  data.head()
  data.rename(columns = {'Unnamed: 0':'Characteristic'}, inplace = True)

  data['Characteristic']= data['Characteristic'].map(
    lambda x: x.lstrip('\t').lstrip())

  data.set_index('Characteristic', inplace=True)

  total_df = data.iloc[0:1]
  marital_df = data.iloc[2:8]
  household_df = data.iloc[9:19]
  citizenship_df = data.iloc[20:33]
  labor_df = data.iloc[34:37]
  occupation_df = data.iloc[38:49]
  industry_df = data.iloc[50:64]

  dfs = [("marital",marital_df), ("household", household_df),
   ("citizenship",citizenship_df), ("labor", labor_df),
    ("occupation", occupation_df),
     ("industry", industry_df)]

  return dfs

def plotTwo(dfs):
  #for df in dfs:
  #  fig = plt.figure(figsize =(20,15))

  #  plt.bar(df[1].index, df[1]["Doctoral degree"])
  #  #plt.xlabel("Characteristics")
  #  plt.title(df[0])
  #  plt.show()

  x_axis = np.arange(len(marital_df))
  #display bar graph

  fig = plt.figure(figsize =(20,15))

  plt.bar(x_axis, marital_df["Master's degree"], .3)

  plt.xlabel("Characteristics")
  #plt.legend()
  plt.xticks(x_axis, marital_df.index)
  plt.title("Individuals w/")
  plt.show()

In [ ]:
def transposeDF(dfs):

  for df in dfs:
    df = df.transpose()

  male, both, female = dfs

  no_sql = {}

In [ ]:
#uncomment calls, one at a time, for example of visualization

#process_tableOne(setOne[0])
#process_tableTwo(setTwo[0])
#process_tableThree(setThree[0])